@model HomeTrack.Web.ViewModels.TransactionDetails
<fieldset>
	<legend>Transaction</legend>
	
	<div class="display-label">Date</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Date)
	</div>
	<div class="display-label">Amount</div>
	<div class="display-field">
		@Model.Amount.ToString("c")
	</div>
	
	<div class="display-label">Description</div>
	<div class="display-field">
		@Html.DisplayFor(model => model.Description)
	</div>
	@if ( !string.IsNullOrWhiteSpace(Model.Reference) )
	{
		<div class="display-label">Reference</div>
		<div class="display-field">
			@Html.DisplayFor(model => model.Reference)
		</div>
	}
</fieldset>

	<table>
	<thead>
		<tr>
			<td>Name</td>
			<td>Dr</td>
			<td>Cr</td>
		</tr>
	</thead>
	<tbody>
		@foreach ( var amount in Model.Amounts )
		{
			<tr>
				<td>@Html.ActionLink(amount.Account.Name, "index", new { amount.Account.Id })</td>
				<td class="amount">@amount.AsDr()</td>
				<td class="amount">@amount.AsCr()</td>
			</tr>
		}
	</tbody>
</table>	


<p>
		@Html.ActionLink("Edit", "Edit", new { Model.Id }) |
		@Html.ActionLink("Back to List", "Index", new { Id = Model.AccountId })
	</p>
