@model TransactionIndexViewModel

<h2>@Model.Account.Name Transactions</h2>

<table>
	<thead>
		<tr>
			<td>Date</td>
			<td>Name</td>
			<td>Dr</td>
			<td>Cr</td>
		</tr>
	</thead>
	<tbody>
		@foreach ( var transaction in Model.Transactions )
		{
			<tr>
				<td>@transaction.Date.ToString("d MMM")</td>
				<td>@transaction.Description</td>
				<td class="amount">@transaction.Debit.AsAmount()</td>
				<td class="amount">@transaction.Credit.AsAmount()</td>
				<td>@Html.ActionLink("Reference", "details", new { transaction.Id })</td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td>@DateTime.Now.ToString("d MMM")</td>
			<td>Balance</td>
			<td class="amount">@Model.Account.Type.ToDr(Model.Account.Balance).AsAmount()</td>
			<td class="amount">@Model.Account.Type.ToCr(Model.Account.Balance).AsAmount()</td>
		</tr>
	</tfoot>
</table>	
	
<p>
	@Html.ActionLink("Create", "create", new { Model.Account.Id })
 </p>