@using HomeTrack
@model IEnumerable<HomeTrack.Account>

@{
	ViewBag.Title = "Accounts";
}

<h2>Accounts</h2>

<table>
	<thead>
		<tr>
			<td rowspan="2">Name</td>
			<td rowspan="2">Type</td>
			<td colspan="2">Balance</td>
		</tr>
		<tr>
			<td>Dr</td>
			<td>Cr</td>
		</tr>
	</thead>
	<tbody>
	@foreach ( var account in Model.OrderBy(x => x.Type).ThenBy(x => x.Name) )
	{
		<tr>
			<td>@account.Name</td>
			<td>@account.Type</td>
			<td>@account.Type.ToDr(account.Balance).AsAmount()</td>
			<td>@account.Type.ToCr(account.Balance).AsAmount()</td>
			<td>@Html.ActionLink("view", "details", new { account.Id })</td>
			<td>@Html.ActionLink("edit", "edit", new { account.Id })</td>
			<td>@Html.ActionLink("transactions", "index", "transaction", new { account.Id }, htmlAttributes:null)</td>
			<td>@Html.ActionLink("new", "create", "transaction", new { account.Id }, htmlAttributes: null)</td>
			<td>@Html.ActionLink("identifier", "create", "accountidentifier", new { accountId = account.Id }, htmlAttributes:null)</td>
		</tr>
	}
	</tbody>
</table>
	
	
<p>
	@Html.ActionLink("Create", "create")
 </p>